USE_MOCK_DATA=false
SSH_ENABLED=true
SSH_USERNAME=monitor
SSH_PRIVATE_KEY_PATH=/home/usuario/.ssh/id_rsa
SSH_TIMEOUT_SECONDS=5
SSH_LOOK_FOR_KEYS=true
SSH_ALLOW_AGENT=true
SSH_FALLBACK_TO_MOCK=true
MONITORED_FILE_PATHS=["/srv","/opt","/var/log"]
MONITORED_PROJECT_PATHS=["/srv","/opt","/home"]
FILE_SCAN_MAX_DEPTH=2
PROJECT_SCAN_MAX_DEPTH=3
